---
layout:     post
title:      GoodYear Test Report
subtitle:   First Post on Github Blog
date:       2019-5-21
author:     Jerron
header-img: img/post-bg-blue-girl.png
catalog: true
tags:
    - 生活
    - 调试
---
# 固特异纪实
From 2019-05-04 To Now
Goodyear 安装调试 环形胎面硫化机项目
## Daily Report
### 2019年5月22日
今天Hill Liu arrived.
偶然间发现了新大陆, 就尝试一下吧!
