---
layout:     post
title:      GoodYear Test Report
subtitle:   First Post on Github Blog
date:       2019-5-21
author:     Jerron
header-img: img/post-bg-blue-lady.png
catalog: true
tags:
    - 生活
    - 调试
---
# Daily Report
From 2019-05-04 To Now
Goodyear 安装调试 环形胎面硫化机项目
##
## 2019年5月22日
Hill Liu arrived yesterday.



























### 2019-5-22
### Today Plan
1) Complete the Chapter 8.
2) Finish the Automated Room Temperature Control System Technical Spec Sheet.
3) After Lunch sleep until 14:00, long time.
